<div class="container-fluid d-flex justify-content-between footer-font-size mb-1">
    <div class="text-grey pt-3">© 1999-2021 Katalyst. All Rights reserved.</div>
    <div class="d-flex justify-content-center flex-column">
        <span>Connect With Us</span>
        <div class="d-flex justify-content-between">
            <div class="face-book">
                <img src="../../assets/svg/facebook.svg" width=20 height=20 alt="">
            </div>
            <div class="tweeter">
                <img src="../../assets/svg/twitter.svg" width=20 height=20 alt="">
            </div>
            <div class="instagram">
                <img src="../../assets/svg/instagram.svg" width=20 height=20 alt="">
            </div>
        </div>
    </div>
</div>