<!-- <p>activity works!</p>
<button (click)="navigateToResults()">Next</button> -->
<div class="d-flex flex-column" *ngIf="activityType">
    <p class="page-heading text-center pt-2 font-weight-600">Activity</p>
    <div class="page-underling"></div>
    <div class="text-center font-weight-600 pt-2 pb-5">Describe how active you are each day.</div>
    <div class="d-flex justify-content-around flex-wrap pb-3">
        <div class="border shadow rounded col-25 p-2 poition-relative d-flex flex-column justify-content-center"
            (click)="tilesClicked('one')">
            <div class="w-100 position-relative py-1">
                <div class="trigonal position-absolute" *ngIf="tilesOneSelected">
                    <div class="position-relative text-white">
                        <span class="position-absolute" style="top: -40px;left: 6px;">&#x2714;</span>
                    </div>
                </div>
            </div>
            <img src="../../assets/images/very_light.png" alt="" height="60" class="mx-auto py-1">
            <span class="font-weight-600 text-center py-1">Very Light</span>
            <span class="font-weight-400 text-grey text-size-small text-center py-1">Sitting most of the day (example:
                desk job).</span>
        </div>
        <div class="border shadow rounded col-25 p-2 poition-relative d-flex flex-column justify-content-center"
            (click)="tilesClicked('two')">
            <div class="w-100 position-relative py-1">
                <div class="trigonal position-absolute" *ngIf="tilesTwoSelected">
                    <div class="position-relative text-white">
                        <span class="position-absolute" style="top: -40px;left: 6px;">&#x2714;</span>
                    </div>
                </div>
            </div>
            <img src="../../assets/images/light.png" alt="" height="60" class="mx-auto py-1">
            <span class="font-weight-600 text-center py-1">Light</span>
            <span class="font-weight-400 text-grey text-size-small text-center py-1">A mix of sitting, standing, and
                light activity (example: teacher).</span>
        </div>
        <div class="border shadow rounded col-25 p-2 poition-relative d-flex flex-column justify-content-center"
            (click)="tilesClicked('three')">
            <div class="w-100 position-relative py-1">
                <div class="trigonal position-absolute" *ngIf="tilesThreeSelected">
                    <div class="position-relative text-white">
                        <span class="position-absolute" style="top: -40px;left: 6px;">&#x2714;</span>
                    </div>
                </div>
            </div>
            <img src="../../assets/images/moderate.png" alt="" height="60" class="mx-auto py-1">
            <span class="font-weight-600 text-center py-1">Moderate</span>
            <span class="font-weight-400 text-grey text-size-small text-center py-1">Continuous gentle to moderate
                activity (example: restaurant server).</span>
        </div>
        <div class="border shadow rounded col-25 p-2 poition-relative d-flex flex-column justify-content-center"
            (click)="tilesClicked('four')">
            <div class="w-100 position-relative py-1">
                <div class="trigonal position-absolute" *ngIf="tilesFourSelected">
                    <div class="position-relative text-white">
                        <span class="position-absolute" style="top: -40px;left: 6px;">&#x2714;</span>
                    </div>
                </div>
            </div>
            <img src="../../assets/images/heavy.png" alt="" height="60" class="mx-auto py-1">
            <span class="font-weight-600 text-center py-1">Heavy</span>
            <span class="font-weight-400 text-grey text-size-small text-center py-1">Strenuous activity throughout the
                day (example: construction work).</span>
        </div>

    </div>
    <div class="d-flex w-100 pt-2 justify-content-center">
        <button class="btn btn-width bg-grey text-white mx-1" (click)="navigateToDiet()">Back</button>
        <button class="btn btn-width bg-red text-white mx-1" (click)="activityTypeSelectedClicked()">Next</button>
    </div>
</div>
<div class="d-flex flex-column" *ngIf="activityTypeSelected">
    <p class="page-heading text-center pt-2 font-weight-600">Activity</p>
    <div class="page-underling"></div>
    <div class="text-center font-weight-600 pt-2 pb-5">What best describes your weekly workouts?</div>
    <div class="d-flex justify-content-around flex-wrap pb-3">
        <div class="border shadow rounded col-sm-2 col-6 mb-2 p-2 poition-relative d-flex flex-column justify-content-center"
            (click)="workoutTilesClicked('one')">
            <div class="w-100 position-relative py-1">
                <div class="trigonal position-absolute" *ngIf="workoutTilesOneSelected">
                    <div class="position-relative text-white">
                        <span class="position-absolute" style="top: -40px;left: 6px;">&#x2714;</span>
                    </div>
                </div>
            </div>
            <img src="../../assets/images/very_light_workout.png" alt="" height="80" class="mx-auto py-1">
            <span class="font-weight-600 text-center py-1">Very Light</span>
            <span class="font-weight-400 text-grey text-size-small text-center py-1">Almost no purposeful
                exercise.</span>
        </div>
        <div class="border shadow rounded col-sm-2 col-6 mb-2 p-2 poition-relative d-flex flex-column justify-content-center"
            (click)="workoutTilesClicked('two')">
            <div class="w-100 position-relative py-1">
                <div class="trigonal position-absolute" *ngIf="workoutTilesTwoSelected">
                    <div class="position-relative text-white">
                        <span class="position-absolute" style="top: -40px;left: 6px;">&#x2714;</span>
                    </div>
                </div>
            </div>
            <img src="../../assets/images/light_workout.png" alt="" height="80" class="mx-auto py-1">
            <span class="font-weight-600 text-center py-1">Light</span>
            <span class="font-weight-400 text-grey text-size-small text-center py-1">1-3 hours of gentle to moderate
                exercise.</span>
        </div>
        <div class="border shadow rounded col-sm-2 col-6 mb-2 p-2 poition-relative d-flex flex-column justify-content-center"
            (click)="workoutTilesClicked('three')">
            <div class="w-100 position-relative py-1">
                <div class="trigonal position-absolute" *ngIf="workoutTilesThreeSelected">
                    <div class="position-relative text-white">
                        <span class="position-absolute" style="top: -40px;left: 6px;">&#x2714;</span>
                    </div>
                </div>
            </div>
            <img src="../../assets/images/moderate_workout.png" alt="" height="80" class="mx-auto py-1">
            <span class="font-weight-600 text-center py-1">Moderate</span>
            <span class="font-weight-400 text-grey text-size-small text-center py-1">3-4 hours of moderate
                exercise.</span>
        </div>
        <div class="border shadow rounded col-sm-2 col-6 mb-2 p-2 poition-relative d-flex flex-column justify-content-center"
            (click)="workoutTilesClicked('four')">
            <div class="w-100 position-relative py-1">
                <div class="trigonal position-absolute" *ngIf="workoutTilesFourSelected">
                    <div class="position-relative text-white">
                        <span class="position-absolute" style="top: -40px;left: 6px;">&#x2714;</span>
                    </div>
                </div>
            </div>
            <img src="../../assets/images/intence_workout.png" alt="" height="80" class="mx-auto py-1">
            <span class="font-weight-600 text-center py-1">Intense</span>
            <span class="font-weight-400 text-grey text-size-small text-center py-1">4-6 hours of moderate to strenuous exercise.</span>
        </div>
        <div class="border shadow rounded col-sm-2 col-6 mb-2 p-2 poition-relative d-flex flex-column justify-content-center"
            (click)="workoutTilesClicked('five')">
            <div class="w-100 position-relative py-1">
                <div class="trigonal position-absolute" *ngIf="workoutTilesFiveSelected">
                    <div class="position-relative text-white">
                        <span class="position-absolute" style="top: -40px;left: 6px;">&#x2714;</span>
                    </div>
                </div>
            </div>
            <img src="../../assets/images/very_intence_workout.png" alt="" height="80" class="mx-auto py-1">
            <span class="font-weight-600 text-center py-1">Very Intense</span>
            <span class="font-weight-400 text-grey text-size-small text-center py-1">7+ hours of strenuous
                exercise.</span>
        </div>

    </div>
    <div class="d-flex w-100 pt-2 justify-content-center">
        <button class="btn btn-width bg-grey text-white mx-1" (click)="activityTypeSelectedClicked()">Back</button>
        <button class="btn btn-width bg-red text-white mx-1" (click)="navigateToResults()">Next</button>
    </div>
</div>